body{background-color:PaleGoldenRod;}

div.denglzc{float:right;margin-top:20px;margin-right:150px;}
div.denglzc a{text-decoration:none;color:red;}
div.denglzc a:hover{color:green;}
#div1{position:relative;left:250px;top:50px;}
#sousuo01{height:30px;width:40%;}
#sousuo02{height:30px;width:60px;}
.ul{position:relative;left:400px;top:50px;}
ul a{text-decoration:none;color:black;}
ul a:hover{color:GhostWhite;}
newbook{display : block;}
#newbook_image{position:relative;top:100px;left:10%;}
#newbook_set{position:relative;left:10%;top:120px;width:760px;}
.newbook{float:left;width:180px;margin:5px;height:240px;}
.newbook img {width:160px;height:160px;}
.newbook a:hover img{border:1px solid green;}
#rank{position:absolute;top:240px;right:10%;z-index:99;width:240px;border:1px solid red;color:green;}
#rank_head{border-bottom:1px solid red;}
#rank_head  img{margin-left:5px;}
#rank_head  a{font-size:20px;text-decoration:none;color:red;}
#rank ul{width:180px;float:left;line-height:25px;list-style-type:decimal;}
#rank li{float:left;border-bottom:1px solid green;}
#pre_pointer{
    background: url("http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png") no-repeat;
    cursor: pointer;
    height: 50px;
    left: 0;
	display:block;
    position: absolute;
    top: 200px;
    width: 25px;
    z-index: 2;
}
#next_pointer{
    background: url("http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png") no-repeat -26px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 50px;
    display:block;
    position: absolute;
    right: 0;
    top: 200px;
    width: 25px;
    z-index: 2;
}
