html,body{height:100%;}
body{
margin: 1em 10%;
background-color:PaleGoldenRod;
background-repeat:repeat-xy;
}
div.denglzc{
height:25px;
padding:10px;
}
div.denglzc a{position:absolute;font-size:125%;color:red;text-decoration:none;}
div.denglzc a:hover{color:green;}
div.denglzc a.login{right:20%;}
div.denglzc a.register{right:15%;}
div.denglzc a.logout{right:10%;}
div.content{background-color:white;margin-top:20px;height:1300px;}
div.nav{
float:left;
margin-top:100px;
font-size:20px;
line-height:50px;
width:200px;
height:1200px;
color:black;
background-color:Gainsboro;
}
div.nav ul{list-style-type:none;color:black;}
table.bookShow{
border:0;
}
div.nav a{text-decoration:none;color:black;}
div.nav a:hover{font-size:110%;color:GhostWhite;}
div.nav a.here:link,div.nav a.here:visited,
div.nav a.here:hover,div.nav a.here:active
{font-size:100%;font-weight:normal;color:GhostWhite;}
table.bookShow td{width:300px;height:250px;}
.rmb{color:red;}
div.logo{
position:absolute;
left:13%;
top:120px;
z-index:99;
}
div.logo img{
width:50px;
height:50px;
}